<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montez&family=Noto+Sans+Batak&family=Noto+Serif+Dives+Akuru&family=Orbitron:wght@400..900&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Orbitron:wght@700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
  <title>HeisenBlog</title>

  <link rel="stylesheet" href="/styles/stylesheet.css">
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">


</head>

<body>
  <header class="navbar">
    <!-- <video autoplay loop muted playsinline class="navbar-smoke-bg" >
      <source src="\Assets\Smoke_7___40s___4k_res.mp4" type="video/mp4" />
    </video> -->
    <div class="nav-content">
      <div class="navbar-logo">

        <a href="/">
          <span style="color:rgb(240, 217, 13);">He</span>isen
          <span style="color:rgb(240, 217, 13); ">Ba</span>log
        </a>
      </div>
      <div class="nav-smoke">

      </div>
      <nav class="navbar-links">
        <a href="/">Home</a>

        <a href="/admin">Admin</a>

      </nav>
    </div>
  </header>