<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montez&family=Noto+Sans+Batak&family=Noto+Serif+Dives+Akuru&display=swap"
    rel="stylesheet">
  <title>Blog Application</title>
  <link rel="stylesheet" href="/styles/stylesheet.css">

</head>

<body>
  <header class="navbar">
    <video autoplay loop muted playsinline class="navbar-smoke-bg" >
      <source src="\Assets\Smoke_7___40s___4k_res.mp4" type="video/mp4" />
    </video>
    <div class="nav-content">
      <div class="navbar-logo">

        <a href="/">
          <span style="color: rgb(101, 111, 7);">Br</span>eaking
          <span style="color: rgb(101, 111, 7); ">B</span>log
        </a>
      </div>
      <div class="nav-smoke">

      </div>
      <nav class="navbar-links">
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/about">Admin</a>
        
      </nav>
    </div>
  </header>