<%- include('partials/header.ejs') %>
    <div class="Compose">
        <div class="container">
            <h2 class="text-center">Compose a New Story</h2>
            <form action="/add" method="POST" class="mt-4">
                <div class="mb-3">
                    <label for="title" class="form-label" style="font-weight: bold; font-size: 30px;">Title</label>
                    <input type="text" class="form-control" id="title" name="title"  required>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label" style="font-weight: bold; font-size: 30px;">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="15" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
    

    <%- include('partials/footer.ejs') %>