<%- include('partials/header.ejs') %>



<section class="hero">
 
  <div class="hero-content">
    <h1><span class="bb">Br</span>eaking<span class="bb">Ba</span>log</h1>
    <p>The ultimate Breaking Bad blog for fans who want more than just the show.</p>
    <a href="/posts" class="btn">Start Reading</a>
  </div>
</section>


<script>
  const hero = document.querySelector('.hero');
  hero.addEventListener('mousemove', e => {
    const x = e.clientX;
    const y = e.clientY;
    hero.style.setProperty('--cursor-x', `${x}px`);
    hero.style.setProperty('--cursor-y', `${y}px`);
  });
</script>

    
<!-- <%- include('partials/footer.ejs') %> -->