<%- include('partials/header.ejs') %>
<main style="margin-top: 40px; background-color: bisque; height: 100vh;">
    <div class="container">
            <h2 class="text-center"><%=postTitle %></h2>
            <hr>
            <p class="text-center"><%=postContent %></p>
            
        </div>

    
</main>
<%- include('partials/footer.ejs') %>