 *{
    padding: 0px;
    margin: 0px;
 }
h1{
    font-family: "Montez", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(228, 168, 168);
    text-align: center;
    margin-top: 20px;
}
.fade-element {
  opacity: 0;
  animation: fadeInOut 6s infinite;
  transition: opacity 1s ease-in-out;
}

@keyframes fadeInOut {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  50%  { opacity: 1; }
  70%  { opacity: 0; }
  100% { opacity: 0; }
}


 body {
     background-color: rgba(0, 0, 0, 0);
     font-family: "Noto Sans Batak", sans-serif;
     color: #333;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
}

 .main {
    
    
    background-image: url("../images/background.jpg");
    
    background-repeat: no-repeat;
    background-position: center center;
    
     /* height: calc(100vh - 60px); */
        /* background-size: cover; */
     

     font-family: "Montez", cursive;
     font-weight: 400;
     font-style: normal;
     
     
     
 }
 @media (min-width: 1000px) {
    .main {
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        height: calc(100vh - 40px);
    }
    
 }
 .Compose{
    background-color: rgba(8, 50, 2, 0.521);
    /* height: calc(100vh); */
    
    color: black;
    font-family: "Montez", cursive;

 }
 .Compose h2{
    font-size: 50px;
    text-align: center;
    margin-top: 34px;
    font-weight: 400;
    font-style: normal;
 }
.main > .box{
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;;
    width: 100vw;
    /* height: calc(100vh - 60px); */
   
}


    


 .footer {

     background-color: rgba(78, 32, 32, 0.2);
     display: flex;
     text-align: center;
     justify-content: center;
     box-shadow: 0 2px 5px rgba(190, 157, 157, 0.05);
 }

 .footer p {
     color: #4B0082;
     z-index: 100;
 }

 .navbar-toggler {
     border-width: 0px;
 }

 

 .card {
     background-color: #e8e9ca;
     
     backdrop-filter: blur(10px);
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     margin: auto;
     margin-bottom: 30px;
     
 }

 .card:hover {
     transform: translateY(-10px);
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
 }

 .form-control {
     background-color: rgba(255, 255, 255, 0.8);
     border: 1px solid #ccc;
     border-radius: 4px;
     padding: 10px;
     color: #0c0c0c;
     transition: border-color 0.3s ease;
 }
 #title{
    font-size: 40px;
    color: rgb(226, 50, 50);
    font-weight: bolder;
 }
 #content{
    font-size: 25px;
    color: rgba(0, 0, 0);
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
 

 .card-title {
     color: rgb(226, 50, 50);
     font-weight: bolder;
     font-size: xx-large;

 }

 .card-text {
     color: rgb(6, 6, 6);
     font-family: "Noto Sans Batak", sans-serif;
     font-weight: 400;
     font-size: large;
     font-style: normal;
 }

 .navbar {
     margin-bottom: 20px;
 }